/*Alli Jacobs*/

body{
	background-image: linear-gradient(to right, rgb(166,247,245), rgb(255,191,235));
	text-align:center;
	
}
h1{
	color:rgb(115,113,245);
	font-family:tahoma;
}
h2{
	color:rgb(245,243,113);
	font-family:courier;
	font-size:25px;
}
h3{
	color:white;
	font-family:courier;
}
p{
	color:white;
	font-size: 20px;
	font-family:courier;
}
option{
	background-color:white;
}
button{
	background-color:white;
}
textarea{
	background-color:black;
	color:white;
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 25%;
}
.centergif{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


